<div *ngIf="planet">
  <div><span>Location: </span>{{planet.location.x}} : {{planet.location.y}}</div>
  <div class="h2"> Information <br/> </div>
  <div><span>id: </span>{{planet._id}}</div>
  <div><span>Name </span>{{planet.name}}</div>
  <div class="h4"> Stats <br/> </div>
  <div><span>Space: </span>{{planet.stats.space}}</div>
  <div><span>Energy: </span>{{planet.stats.energy}}</div>
  <div><span>Defense: </span>{{planet.stats.defense}}</div>
  <div *ngIf="claimed != true">
    <button (click)="claim()">Claim</button>
  </div>
  <div *ngIf="claimed == true">
  <div *ngIf="ownedByUser == true">
    <button (click)="build()">Build</button>
    <button (click)="view()">View</button>
    <button (click)="unclaim()">Unclaim</button>
  </div>
  <div *ngIf="ownedByUser == false">
    <button (click)="attack()">Attack</button>
    <button (click)="spy()">Spy</button>
  </div>
  </div>
 <button (click)="goBack()">Go Back</button>
</div>
